.es_scroll_containter
    .es_scroll_box(ref="boxRef")
        Hint(v-if="showHint")
            template(v-for="(_, name) in filterSlots('hint')", :key="name", #[name]="slotProps")
                slot(:name="name", v-bind="slotProps")
        .es_scroll_content.es_smooth_scroll(
            ref="ulRef", :class="[$attrs.class, {es_back_scroll: runtimeData.back}]", 
            :style="{ transform: `translate(${displayScrollX}px, ${displayScrollY}px)` }"
        )
            li(v-for="i in 50" :key="i") 列表项 - {{ i }}
    ScrollBar(v-if="scrollBar", :scrollJoy="scrollJoy")
    Cursor(v-if="midMouseNav && scrollCtrl.midnav?.active", 
        :start="scrollCtrl.midnav.startPos", 
        :pos="scrollCtrl.midnav.cursorPos"
    )