.es_scroll_containter
    .es_scroll_box(ref="boxRef")
        Hint(v-if="showHint")
        .es_scroll_content.es_smooth_scroll(
            ref="ulRef", :class="[$attrs.class, {es_back_scroll: scrollCtrl.scroll.back}]", 
            :style="{ transform: `translateY(${displayScrollY}px)` }"
        )
            li(v-for="i in 50" :key="i") 列表项 - {{ i }}
        
    .es_scroll_bar.es_scroll_y(:ref="el=>scrollCtrl.scroll.scrollRef.y.box=el")
        slot(name="scroll_y", 
            :scrollRatio="scrollCtrl.scroll.scrollRatio",
            :sizeRatio="scrollCtrl.scroll.sizeRatio",
            :thumb="scrollCtrl.scroll.thumbRect.y",
            :onDrag="(e)=>scrollCtrl.scroll.track_down(e, 'y')"
        )        
            .es_track(track, @pointerdown="scrollCtrl.scroll.track_down($event, 'y')")
                .es_track_view
                .es_thumb.es_smooth_scroll(thumb, 
                    :class="{joytick: scrollJoy, disanime: runtimeData.currCtrlType == 'scrollbar', es_back_scroll: scrollCtrl.scroll.back}",
                    :style="{height: `${scrollCtrl.scroll.thumbRect.y.height}px`, transform: `translate(-50%, ${scrollCtrl.scroll.thumbRect.y.pos}px)`}"
                )
                    .es_thumb_view  
    Cursor(v-if="scrollCtrl.midnav && scrollCtrl.midnav.active", 
        :start="scrollCtrl.midnav.startPos", 
        :pos="scrollCtrl.midnav.cursorPos"
    )